@model SmartTemplateCore.Models.Common.Forgot_Password_Trigger
<form id="frmForgotPassword">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <h4 class="text-center mt-4" style="font-weight:bold; color:#54575a;">Forgot Password?</h4>
        <label for="txtEmailAddress" class="text-center w-100 form-label mt-4"><small>Please enter email address that associated with your account.</small></label>
        <div class="form-group mt-3">
            <div class="input-group">
                @Html.TextBoxFor(a => a.Email, new { name = "Email", id = "txtEmail", placeholder = "user@mail.toray", @class = "form-control login-txt textbox keyboard require", error_msg_id = "errMsgEmailAddress", type="email" , error_msg="Please enter the email address" })
            </div>
            <div class="errMsg col-12" id="errorMessageDiv">
                <span id="errMsgEmailAddress" class="error-message text-danger d-none">Please enter the email address</span>   
            </div>
        </div>
    </div>
    <div class="form-group d-grid gap-2 mt-1">
        <span class="text-end w-100">
            <a href="#" id="hasOTPBtn" class="forget-password-text" onclick="onClickAlreadyOTP()" style="text-decoration:none;">Already has OTP?</a>
        </span>
    </div>
    <div class="form-group d-grid gap-2 mt-4">
        <button class="btn btn-primary tr-login-btn" type="button" id="btnForgotSubmit" style="border-radius: 2px"><b>SEND</b></button>
    </div>
</form>
<div class="form-group d-grid gap-2 mt-4">
    <span class="text-center w-100">
        <a href="@Url.Action("Login", "Home")" class="forget-password-text" style="text-decoration:none;"><i class="fa-solid fa-arrow-left me-2"></i>Back to login</a>
    </span>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        

        $("#btnForgotSubmit").click(function (e) {
 
            if (!validateForm()) { return; }

           
            var formData = $('#frmForgotPassword').serialize();

            $.ajax({
                url: "../Home/ForgotPassword",
                type: 'POST',
                data: formData,
                beforeSend: function () {
                    loadings("frmForgotPassword");
                },
                headers: {
                    // Get the anti-forgery token from the form
                    RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {
                    loadings(false);
                    if (response.success) {
                        console.log(response.tokenval)
                        createCookies("COOKIES_OTP_SUCCESS", response.tokenval,1)

                        var _url = '@Url.Action("RenderComponent", "Home")';
                        $.ajax({
                            type: "GET",
                            url: _url,
                            data: {
                                componentName: "ForgotPasswordVerify"
                            },
                            success: function (result) {
                                $("#modalContent").html(result);
                                $("#myModal").modal("show");
                            },
                        });

                    } else {
                        //toastAlertError(response.msg);
                    }
                },
                error: function () {
                   // toastAlertError("Error occured");
                }
            });

        });
    });
    function onClickAlreadyOTP() {
        var _url = '@Url.Action("RenderComponent", "Home")';
        $.ajax({
            type: "GET",
            url: _url,
            data: {
                componentName: "ForgotPasswordVerify"

            },
            success: function (result) {
                $("#modalContent").html(result);
                $("#myModal").modal("show");
            },
        });
    }
</script>